*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../image/fondo.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.user-login{
    background-color: rgb(255, 7, 28);
    width: 600px;
    height: 40px;
    border-radius: 10px solid black;
    margin-top: 10%;
    text-align: center;
    align-items: center;;
}

.user-login h1{
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: rgb(25, 249, 4);
}

.user-id h2{
    font-family: roboto;
    float: left;
    margin-left: 50px;
    margin-right: 5px;
    padding-left: 5px;
}

.user-id input{
    width: 300px;
    height: 25px;
    border: 2px solid rgb(73, 250, 79);
    border-radius: 10px;
    margin-left: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.password h2{
    font-family: 'roboto';
    float: left;
    margin-left: 50px;
    margin-right: 5px;
    padding-left: 5px;
}

.password input{
    width: 300px;
    height: 25px;
    border: 2px solid rgb(73, 250, 79);
    border-radius: 10px;
    margin-left: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.boton button{
    border-radius: 15px;
    width: 150px;
    height: 40px;
    margin: 10px;
}

.boton p{
    margin-top: 8px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'roboto';
}

.boton button:hover{
    background-color: rgb(73, 250, 79);
    cursor: pointer;
}

.boton img{
    float: left;
}

a{
    margin-top: 5px;
    float: center;
    margin-left: px;
    color: rgb(12, 237, 233);
    text-decoration: none;

}

.index{
    position: absolute;
    top: 40px;
    left: 80px;
    background-color: rgb(255, 7, 28);
    padding-bottom: 15px;
    font-size: 20px;
}