<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gato de Gatos</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Oswald:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;1,400&family=Roboto+Condensed:ital,wght@0,400;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/estilos.css">
</head>
<body>
    <div class="container presentacion">
        <div class="info-presentacion">
            <h1>Gato de gatos</h1>
            <p>Elige un simbolo para empezar a jugar.</p>
            <div class="botones" id="menu">
                <button id="btnX">Jugar como X</button>
                <button id="btnO">Jugar como O</button>
                <button id="btnReiniciar">Reiniciar</button>    
            </div>

            <div id="estado" class="estado">Elige un simbolo para comenzar</div>
        </div>
    </div>

    <main class="container">
        <section class="caja">
            <div>
                Jugador actual <strong id="jugadorActual">-</strong>
            </div>
            <div id="tableroGrande" class="tablero"></div>
            
        </section>

        <aside>
            <div class="marcador">
                <h3>Estadísticas</h3>
                    <p>Total partidas: <span id="totalPartidas">0</span></p>
                    <p>Ganadas por X: <span id="ganadasX">0</span></p>
                    <p>Ganadas por O: <span id="ganadasO">0</span></p>
                    <p>Empates: <span id="empates">0</span></p>
                    <p>Última partida: <span id="ultimaFecha">-</span></p>

                    <button id="btnActualizar">Actualizar estadísticas</button>

                    <p id="msgBD"></p>
            </div>
        </aside>
    </main>
    
    <script src="../public/js/juego.js"></script>
</body>
</html>