*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --font-title: 'Oswald', sans-serif;
    --font-subtitle: 'Bebas Neue', sans-serif;
    --font-impact: 'Anton', sans-serif;
    --font-italic: 'Roboto Condensed', sans-serif;
    --font-body: 'Roboto', sans-serif;
}

body{
    background-color: #2E2E2E; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introduccion{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.introduccion header{
    font-family: var(--font-title);
    font-size: 2.5rem;
    color: #572222;
    background-color: white;
    margin: 10px;
    padding: 5px;
}

.introduccion p{
    font-family: var(--font-body);
    font-size: 1rem;
    background-color: #063E66;
    padding: 5px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    color: #cecece;
    width: 90%;
}

.introduccion ul{
    font-family: var(--font-italic);
    font-size: 1rem;
    margin-top: 10px;
    background-color: #66AEE0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    padding: 20px;
    width: 90%;
}

.container-form{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #2E0F0F;
    color: #cecece;
    padding: 10px;
}

.container-form input{
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-form label{
    font-family: var(--font-impact);
}

.index{
    font-family: var(--font-impact);
    font-size: 1.5rem;
    background-color: #063E66;
    color: #572222;
    border-radius: 10px;
    padding: 8px 10px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.index a{
    text-decoration: none;
    color:#8BC3E8;
    cursor: pointer;
}

.index a:hover{
    text-decoration: none;
    color: #572222;
    background-color: #ffffff;
}